.header {
    background-color: #1e9443;
}

.logo {

    width: 100%;
    text-align: left;
    padding: 10px;
}


.nav-link {
    color: #ffffff;
    font-size: 30px;
    margin-top: 50px;
    /* width: 50%; */
    padding: 10px;
}


body{
    background-color: #313632;
    color:  #ffffff;
}

.corpo{
    text-align: center;
}


.logoMedia{
    /* text-align: center; */
    width: 3%;
    margin: 20px;
}

.footer{
    background-color: #1e9443;
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 85%;
}