.header{
    background-color: #1e9443;
}

.logo {

    width: 100%;
    text-align: left;
    padding: 10px;
    margin-top: auto;
}
.centered{
    margin: auto;
    padding: 10px;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 19.5px;
}


.nav-link {
    color: white;
    font-size: 30px;
    padding: 10px;
}

a:hover{
    color: #313632;
}

#fat{
  margin-top: 10px;
}

body{
    background-color: #313632;
    color:  #ffffff;
    
}

.corpo{
    text-align: center;
    border-style: hidden;
}


.logoMedia{
    /* text-align: center; */
    width: 3rem;
    margin: 20px;
}

.footer{
    background-color: #1e9443;
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}